# .gitignore
/dataset/UCF-101/*

# Ignore .npy files
*.npy

# Ignore log files
*.log
src/logs
logs

# Ignore temporary files
*.tmp

*.idea
*__pycache__*
**/__pycache__*
*.pb
*.keras
*.h5